@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Titillium+Web:wght@200;300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.contenedor {
    max-width: 1200px;
    padding: 10px;
    margin: 20% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    contain: paint;
}

.contenedor .contenedor-items {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 30px;
    width: 100%;
    transition: .3s;
}

.contenedor .contenedor-items .item {
    max-width: 200px;
    margin: auto;
    border: 1px solid #666;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
}

.contenedor .contenedor-items .item .img-item {
    width: 100%;
}

.contenedor .contenedor-items .item:hover {
    box-shadow: 0 0 10px #666;
    scale: 1.05;
}

.contenedor .contenedor-items .item .titulo-item {
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.contenedor .contenedor-items .item .precio-item {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.contenedor .contenedor-items .item .boton-item {
    display: block;
    margin: 10px auto;
    border: none;
    background-color: black;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width: 850px) {
    .contenedor {
        display: block;
    }
    .contenedor-items {
        width: 100% !important;
    } 
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    width: 80%;
    background-color: #dadee3;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 90%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

.modal-images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.modal-images img {
    width: 100px;
    height: auto;
    margin-right: 10px;
    border-radius: 5px;
    transition: transform 0.2s;
}

.modal-images img:hover {
    transform: scale(1.1);
}

.filtro1 {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #ffedc4;
    align-items: center;
    padding-top: 10%;
    list-style: none;
}

@media(max-width:500px) {
    .filtro1 {
        flex-direction: column;
        padding: 10px;
    }
}

.menu1 {
    list-style: none;
    display: flex;
}

.menu1 li a {
    text-decoration: none;
    font-size: 18px;
}

.menu1 li a:hover {
    color: #FF5733;
    transition: color 0.3s ease;
    cursor: pointer;
}

.menu1 li a span {
    margin: 0 5px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    font-family: 'Raleway', sans-serif;
    padding: 40px;
}

.footer .sci {
    display: flex;
}

.footer .sci li {
    list-style: none;
}

.footer .sci li a {
    text-decoration: none;
    margin: 0 20px;
}

.footer .sci li a img {
    filter: invert(1);
    max-width: 40px;
}

.copyrightText {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    text-align: center;
}

.copyrightText a {
    text-decoration: none;
    color: #F9C4C4;
}

.appWhatsapp {
    position: fixed;
    right: 80px;
    bottom: 15px;
    width: 10px;
    z-index: 1000;
}

@media(max-width: 769px) {
    section {
        padding: 30px;
    }

    .footer .sci li a img {
        max-width: 30px;
    }

    .appWhatsapp {
        right: 60px;
        width: 3px;
    }

    .appWhatsapp img {
        width: 45px;
    }

    .modal-content {
        width: 95%;
    }

    .modal-images img {
        width: 80px;
        margin-right: 5px;
    }
}
